@import "./fonts.scss";


// fonts
$cg-main: "Montserrat";

// Colors

//background-colors
$white: #FAFAFA;
$Gray-Light: #E4E4E4;

//Button-colors
$Blue-Default: #548AEA;
$Blue-Hover: #517BDE;
$Blue-Active: #365BC9;
$Blue-Disabled: #C4D2E5;

//Text-colors
$Black: #252525;
$Gray-Dark: #585A5C;

//Status
$Green: #37DC42;
$Red: #DC3737;

