.heroPage {
  color: black;
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.heroLeftContent {
  max-width: 656px;
  max-height: 140px;
}

.mainContent {
  color: var(--black);
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.helperContent {
  color: var(--gray);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.carousel {
  height: 400px;
  margin-top: 100px;
}

.heroRightContent{
    width: 320px;
    height: 320px;
}
