.share {
  max-width: 282px;
  width: 100%;
  border-radius: 12px;
  padding: 14px 12px;
  background-color: var(--gray-light);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.share__img {
  max-width: 250px;
  height: 250px;
  margin-bottom: 12px;
}

.share__img img {
  object-fit: contain;
}

.share__desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.share__desc .share__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share__price h4 {
  color: var(--black);
}

.share__desc .share__info p {
  color: var(--black);
}

.share__desc .share__author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.share__author p {
  color: #585a5c;
}

.share__author img {
  max-width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
