.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__logo {
  max-width: 120px;
  width: 100%;
  height: 80px;
}

.header__categories {
  position: relative;
}

.dropdown {
  display: inline-block;
  margin: 0 20px;
}

.dropdown__label,
.dropdown__item {
  display: block;
  width: 166px;
  padding: 15px 20px;
  cursor: pointer;
}

.dropdown__label:hover,
.dropdown__item:hover {
  background: var(--blue-default);
  color: white;
}

.dropdown__label {
  color: var(--black);
  display: flex;
  gap: 12px;
}

.dropdown__menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  z-index: 1;
  transition: all 0.3s;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown__menu.show {
  visibility: visible;
  opacity: 1;
}

.dropdown__item {
  color: #2c3e50;
}

.active {
  background: var(--blue-default);
  color: white;
}

.header__search {
  margin-left: auto;
}

.header__search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
