.detail__container {
  padding: 50px 0;
}

.product__detail {
  row-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__img {
  display: flex;
  gap: 98px;
}

.img__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img__sidebar img {
  border-radius: 16px;
  width: 82px;
  cursor: pointer;
  height: 82px;
}

.img__active {
  position: relative;
  max-width: 450px;
  width: 100%;
}

.carousel__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  border-radius: 24px;
}

.carousel__img img {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.carousel img {
  height: 100%;
  width: auto;
  border-radius: 24px;
}

.thumbnail {
  border-radius: 16px;
  width: 82px;
  cursor: pointer;
  height: 82px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.thumbnail.active {
  opacity: 1;
}

.product__info {
  display: flex;
  justify-content: space-between;
  gap: 65px;
}

.info__container {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.product__author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product__author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.product__author span {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.product__description {
  background-color: #f3f3f3;
  padding: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.details h4 {
  color: var(--black);
}

.details ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.details ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.details ul li svg {
  width: 24px;
}

.details ul li p {
  color: var(--black);
}

.details button {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 0;
  max-width: 351px;
  width: 100%;
  height: 62px;
  border-radius: 12px;
  background-color: var(--blue-default);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.details button svg {
  color: var(--white);
}

.product__comments {
  margin-top: 100px;
  color: black !important;
}

@media screen and (max-width: 1124px) {
  .product__img {
    gap: 58px;
  }
}

@media screen and (max-width: 1040px) {
  .product__img {
    gap: 28px;
  }
}
