.heroPage {
  color: black;
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.heroLeftContent {
  max-width: 656px;
  max-height: 140px;
}

.mainContent {
  color: var(--black);
  font-weight: 500;
}

.helperContent {
  color: var(--gray);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.carousel {
  height: 400px;
  margin-top: 40px;
}

.heroRightContent {
  width: 320px;
  height: 320px;
}

.heroRightContent img {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

@media (max-width: 1000px) {
  .heroLeftContent {
    max-width: 440px;
  }

  .helperContent {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .heroRightContent {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 768px) {
  .heroLeftContent {
    max-width: 320px;
  }

  .helperContent {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }

  .heroRightContent {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 620px) {
  .heroPage {
    flex-direction: column;
  }

  .heroLeftContent {
    max-width: 100%;
    text-align: center;
  }

  .helperContent {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }

  .heroRightContent {
    width: 260px;
    height: 260px;
  }
}
