.user__panel {
  max-width: 294px;
  width: 100%;
  justify-content: end;
  display: flex;
  align-items: center;
  gap: 24px;
}

.user__panel .user__img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user__img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user__panel svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.user__initials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--blue-default);
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.user__profile {
  position: relative;
}

.user__menu {
  margin-top: 8px;
  border-radius: 12px;
  padding: 12px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  right: 0%;
  top: 75%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.menu__head {
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.menu__head img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.menu__head ul {
  display: flex;
  width: 169px;
  flex-direction: column;
}

.menu__head ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user__settings p {
  margin-bottom: 8px;
}

.setting__list li {
  display: flex;
  cursor: pointer;
  padding: 8px;
  padding-left: 16px;
  align-items: center;
  gap: 16px;
  color: #252525;
}

.setting__list li:hover {
  background-color: #f5f5f5;
}

.setting__list {
  margin-bottom: 24px;
}

.log__out {
  cursor: pointer;
  color: #eb4a4a;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
}

.log__out:hover {
  background-color: #ffe5e5;
}
